main .clients {
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
}

main .carousel-clients {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 30px;
}

.client-img {
    max-width: 150px;
}

@media (min-width: 767px) {
    .client-img {
       padding-right: 35px;
       max-width: 250px;
    }
}