@import url('https://fonts.googleapis.com/css2? family = Roboto + Slab & display = swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --title-color: rgb(36, 36, 36);
  --buttom-color:#e9a251;
  --title-font-family: 'Roboto Slab', serif;
  --original-font-family: 'Roboto Slab', serif;
  --scroll-behavior: smooth;
}

h2, h3, h4 {
  font-family: var(--title-font-family); 
  font-weight: bold;
  font-size: 30px;
  color: var(--title-color);
}

@media (min-width: 728px) {
  h2, h3, h4 {
    font-size: 34px;
  }
}

@media (min-width: 990px) {
  h2, h3, h4 {
    font-size: 46px;
  }
}

p {
  font-family: var(--original-font-family); 
  font-size: 16px;
}

@media (min-width: 990px) {
  p {
    font-size: 18px;
  }
}
